* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: #e3e4e5;

  font-size: 100%;
}

body {
  position: relative;
  width: 1000px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;

  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
}

.header {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 960px;
  padding: 40px 20px 30px;
  margin: 0 auto;
  border-radius: 0;
  background: #FFF;
  position: relative;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);

  #site_title {
    $logo__width : 197px;
    $logo__height : 51px;

    width: $logo__width;
    height: $logo__height;
    position:absolute;
    top: 28px;
    right: 50px;

    img {
      width: $logo__width;
      height: $logo__height;
      float: left;
    }
  }

}

#wrapper {
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
  padding: 10px 0 0;

  .panes {
    background:#fff;
    width: 870px;
    margin: auto;
    height:289px;

    /* must be relative so the individual panes can be absolutely positioned */
    position:relative;

    >section {
      display:none;
      position:absolute;
      top:20px;
      left:20px;
      font-size:14px;
      color:#444;
      width:835px;
      padding-right: 15px;

      >img {
        float:left;
        margin-right:20px;
        width: 379px;
        height: 259px;
      }

      >h5 {
        margin:0 0 27px;
        font-size:22px;
        display: inline-block;
      }

      p.more {
        color:#000;
        font-weight:bold;
      }

      .overlay {
        display:none;
        width:500px;
        padding:20px;
        background-color:#ddd;
      }
    }
  }

  div.tabs {
    height:156px;
    width:870px;
    margin: auto;

    ul {
      width:960px;
      margin:0 auto;
    }

    li {
      float:left;
      padding-left:1px;
      width:172px;
      list-style-type:none;
      text-align:center;

      a {
        color:#333333;
        display:block;
        padding:17px;
        position:relative;
        word-spacing:-2px;
        font-size:11px;
        height:156px;
        text-decoration:none;
      }

      a.current {
        background: #f6f6f6;
        float: none;
        margin:0;
        border-bottom: 3px solid #F15A23
      }

      img {
        background-color:#fff;
        border:1px solid #ccc;
        margin:3px 0 5px 27px;
        padding:4px;
        display:block;

        width: 85px;
        height: 85px;
      }

      strong {
        display:block;
      }
    }
  }
}
